@media only screen and (min-width: 64em) { 
    main{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top:25px;
        margin-bottom: 25px;
    }
    #progressDiv{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        margin-bottom:35px;

    }
/*Fotos Page*/
    .thumbernail{
    transition: 0.5s;
    margin: 5px;
    width: 30%;
    border-style: dashed;
    border-color: indianred;
    border-radius: 15px;
}
.thumbernail:hover{
    cursor: pointer;
    width: 33%;
}
/*End Fotos Page*/

    /*Local Page*/
    #local iframe{
        height: 550px;
    }
    /*End Local Page*/
}