/******* SCROLL BAR ********/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*************************************/

header{
    background-image: url("../img/background1-1.jpeg");
    padding-top: 400px;
    background-position:top; 
    background-color: darksalmon;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    margin-bottom: 25px;
}
#progressDiv{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom:35px;

}
.progress{

    text-align: center;
    vertical-align: middle;
}

#total{
    margin-top: 10px
}
.list-background > span{
    color: dimgray;
}
.list-background > span:hover{
    color:black;
    font-weight: 700;
    transition: 0.1s;
    cursor: pointer;
}

.list-group-item.active2{
    background-color: indianred;
    border-color: brown;
    border-width: 1px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

main button{
    width: 100%; 
    background-color: indianred; 
    color: white; 
    border: none; 
    height: 50px;
    margin-top: 15px; 
    font-weight: 700; 
    font-size: 1.5rem;
}
main button:hover{
    transition: 0.4s;
    background-color: brown; 
}
.inf{
    display:none;
    border: 1px solid indianred;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
.inf:hover{
    box-shadow: 1px 1px 10px indianred;
    transition: 0.3s
}
input, textarea{
    display: block;
    width: 100%;
}
textarea{
    height: 250px;
}
label{
    margin-top: 10px;
}
.footBackGround{
    background-color: #f5c6cb;
}
.copyright{
    background-color: indianred;
    color: white;
}

/*Fotos Page*/

#fotos{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid indianred;
    border-radius: 10px;
    padding: 5px 5px;
    width:95%;
}
#fotos iframe{
    width: 100%;
    height: 75vh;
    max-height: 220px;
}

.LargeImg{
    width: 100%;
    transition: 0.5s;

}
.LargeImg:hover{
    cursor: pointer;
    border-style: solid;
    border-color: indianred;
    transition: 0.3s
}

.thumbernail{
    transition: 0.5s;
    margin: 5px;
    width: 220px;
    border-style: dashed;
    border-color: indianred;
    border-radius: 15px;
}
.thumbernail:hover{
    cursor: pointer;
    width: 250px;
}

/*End Fotos Page*/

/*Local Page*/
#local iframe{
    border: 2px dashed indianred;
    width: 100%;
    height: 350px;
    margin-top: 15px;
}
#local #imgLocal{
    display: block;
    width: 99%;
    margin: 0 auto;
    transition: width 0.3s;
}
#local #imgLocal:hover{
    width: 100%;
}
#date{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color: indianred;
}
#dataNum{
    text-decoration: underline;
}
.compro{
    text-decoration: underline;
    color: brown;
    font-weight: 700;
}
#legenda{
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-color: brown;
}
/*End Local Page*/